<div class="container">

  <h1>User Name</h1>
  <br />

  <div class="pull-right">
    <%= link_to "Lets Get Started", edit_user_path(@user), class: "btn btn-success btn-lg" %>
  </div>

  <dl class="dl-horizontal">
    <dt>Slack Org. Name</dt>
    <dd><%= @user.slack_org %></dd>
    <dt>Slack Webhook URL</dt>
    <dd><%= @user.slack_webhook %></dd>
    <dt>Stripe Webhook URL</dt>
    <dd><%= @user.slack_org %></dd>

  </dl>


</div>
