<div class="container">
    <h1>Partly cloudy with a chance of Awesome!</h1>
    <h3>Anytime a customer is charged in Stripe a "Make it Rain" Gif is sent to your Slack channel</h3>
<br />
<br />

  <div class="text-center">
    <%= image_tag("rain.gif") %>
  </div>
  <div class="row">
    <a href="https://www.instantssl.com/ssl.html"  style="text-decoration:none; ">
        <img alt="SSL" src="https://www.instantssl.com/ssl-certificate-images/support/comodo_secure_100x85_transp.png" style="border: 0px;" /><br/>
        <span style="font-weight:bold;font-size:15px; padding-left:40px; color:#86BEE0;">SSL</span></a><br/>
    <p>This is a free service built by @GitTristan.  We use Devise and OAUTH to securely connect to your Stripe account.
       We have reduced the scope to "read-only" access and only listen for the events that you select when creating your Webhook. EX: When a customer is charged.
        We DO NOT store any user or finacial information beyond your login credentials.</p>
</div>
