<div class="container">
  <div class="jumbotron">
    <h1>Partly Cloudy with a chance of Awesome!</h1>
    <h3>Anytime a customer is charged in Stripe a "Make it Rain" Gif is sent to your Slack channel</h3>
  </div>
  <div class="text-center">
    <%= image_tag("rain.gif") %>
  </div>
</div>
