<div class="container">
  <div class="jumbotron">
    <h1>Go ahead, brighten up your day</h1>
    <h3>Anytime a customer is charged in Stripe a "Make it Rain" Gif is sent to your Slack channel</h3>
  </div>
  <div class="text-center">
    <%= image_tag("tina_fey.gif") %>
  </div>
</div>
